#sidebar-group li a.text-primary {
    text-shadow: -.2px 0 0 #D3F8EA,.2px 0 0 #D3F8EA;
    color: #1E1E1E;
}

#sidebar-group li a:not(.text-primary) {
    color: #5A5A55;
}

.bg-gray-950\/\[0\.03\] {
    background-color: white;
}

.border {
    border: none;
}

#custom-border {
    height: 200vh;
    border-right: 1px solid #E2E2E0;
    position: absolute;
    right: 0;
    top: -100vh;
}

#content {
    background-color: #FDF9F6;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #E2E2E0;
}

h1.mt-8 {
    margin-top: 0;
}

#content-area {
    max-width: 95%;
}

#content-side-layout {
    display: none;
}

div:has(#content-area) {
    padding-left: 0;
    padding-top: 0;
}